<li id="comment-<%= comment._id %>">
  <p>
    <% if((locals.user && comment.user.id == locals.user.id) || (locals.user &&
    post.user.id == locals.user.id)) { %>                         <!-- post can be used because it is in the context passed to _post.ejs i.e it is global to all the partials of _post.ejs -->
    <small>
      <a class="delete-comment-button" href="/comments/destroy/<%= comment._id %>">X</a>
    </small>
    <% } %>
    
    <%= comment.content %>
    <br />
    <small><%= comment.user.name %></small>
    &ensp;
    <% if(locals.user) { %>
      <a class="like-button" href="/likes/toggle/?id=<%= comment._id %>&type=Comment">
        <span class="likes-count"><%= comment.likes.length %></span> likes
      </a>  
    <% } else { %>
      <%= comment.likes.length %> likes
    <% } %>
  </p>
</li>