<html>
  <head>
    <title><%= title %></title>
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css"
    />
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"
    ></script>
    <link rel="stylesheet" type="text/css" href="/css/layout.css" />
    <link rel="stylesheet" type="text/css" href="/css/header.css" />
    <link rel="stylesheet" type="text/css" href="/css/footer.css" />

    <%- style %>
  </head>
  <body>
    <%- include('_header'); %>

    <!-- <% if(flash.success && flash.success.length > 0) { %>
            <h3>
                <%= flash.success %>
            </h3>    
        <% } %> -->

    <main id="layout-main"><%- body %></main>

    <%- include('_footer'); %> <%- script %>

    <script>
        <% if(flash.success && flash.success.length > 0) { %>
            new Noty({
                type: "success",
                text: "<%= flash.success %>",
                theme: "relax",
                layout: "topRight",
                timeout: 1500
            }).show();
        <% } %>

        <% if(flash.error && flash.error.length > 0) { %>
            new Noty({
                type: "error",
                text: "<%= flash.error %>",
                theme: "relax",
                layout: "topRight",
                timeout: 1500
            }).show();
        <% } %>
    </script>
  </body>
</html>
