<link rel="stylesheet" type="text/css" href="/css/user_profile.css" />

<div id="profile-container">
  <img
    src="<%= profile_user.avatar %>"
    alt="<%= profile_user.name %>"
    style="margin-bottom: 10px; width: 100px"
  />

  <% if(profile_user.id == user.id) { %>

  <!-- if user matches then show the update profile form -->
  <form
    action="/users/update/<%= profile_user.id %>"
    method="post"
    enctype="multipart/form-data"
  >
    <input
      type="text"
      name="name"
      placeholder="Your Name"
      value="<%= profile_user.name %>"
      required
    />
    <input
      type="email"
      name="email"
      placeholder="Your Email"
      value="<%= profile_user.email %>"
      required
    />

    <input type="file" name="avatar" placeholder="Profile Picture" />
    <button type="submit">Update</button>
  </form>

  <% } else { %>

  <!-- else only show the profile info -->
  <p>Name: <%= profile_user.name %></p>
  <p>Email: <%= profile_user.email %></p>

  <% } %>
</div>
